@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

body {
    background: url(imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Poppins;
    background-attachment: fixed;
    max-width: 1700px;
    margin: 0 auto;
    padding: 15px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 2rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 35px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 25px;
    border: 1px solid #00f7ff;
}

.nav-link:hover {
    background: #00f7ff67;
}

.login-button button {
    border: none;
    background-color: dodgerblue;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button:hover {
    background-color: rgba(30, 143, 255, 0.658);
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main form {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    box-shadow: 0 2px 5px;
    padding: 30px 40px;
    border-radius: 20px;
    margin: 20px 0;
}

main aside {
    margin-top: 8rem;
}

main .login {
    margin-left: 15rem;
}

main aside h2 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

main aside p {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}

main aside p button {
    font-size: 1rem;
    background: transparent;
    outline: none;
    border: none;
    color: #ff008a;
    text-decoration: none;
}

main aside p button:hover {
    color: #d80274;
    ;
}

main form .w50 {
    float: left;
    padding-right: 2rem;
}

main form .input-group {
    margin-bottom: 15px;
}

main form .input-group label {
    color: #3d3d3d;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

main form .input-group input {
    width: 90%;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    box-shadow: 0 2px 5px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 1rem;
    color: #616161;
    transition: all 0.4s ease;
}

main form .input-group input:focus {
    border-color: #ff008869;
}

main form .input-group button {
    width: 100%;
    height: 3rem;
    background: #b90063;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

main form .input-group button:hover {
    background: #9b0053;
}

article img {
    margin-top: 6rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.cadastro {
    display: none;
}

.troca-cadastro {
    display: block;
}

.troca-login {
    display: none;
}

@media screen and (max-width: 1350px) {
    article img {
        display: none;
    }

    main {
        justify-content: center;
    }

    main aside h2 {
        font-size: 4rem;
    }

    main aside p {
        max-width: 550px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px) {
    header {
        position: absolute;
        background: rgba(0, 160, 253, 0.1);
        background: blur(1rem);
        box-shadow: 0px 3px 6px;
        border-radius: 25px;
        width: 92.5%;
        z-index: 1;
    }

    main {
        margin-top: 7rem;
        z-index: 0;
        display: block;
        max-width: 700px;
    }

    main aside {
        margin-top: 2rem;
    }

    main .login {
        margin: 0;
    }

    main aside p {
        max-width: 550px;
        font-size: 1rem;
    }

    main aside h2 {
        font-size: 2.3rem;
    }

    main form .input-group ::placeholder {
        color: #008cff;
    }

    .w50 {
        width: 100%;
        padding: 0;
    }

    .icon {
        position: relative;
        left: 1rem;
        top: 0.5rem;
    }

    .logo {
        position: relative;
        left: 5.5rem;
    }

    .nav-bar {
        padding: 0.75rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;

    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
        background: #3d3d3d;
    }

    .open ul li {
        background: #3d3d3d;
        width: 100%;
        margin: 0;
        padding-bottom: 1rem;
    }

    .open ul li:hover {
        background: #616161;
    }

    .open .nav-link {
        border: none;
        background: none;
    }

    .login-button button {
        background-color: rgba(0, 68, 255, 0.788);
    }

    .login-button button:hover {
        background-color: rgba(1, 53, 196, 0.788);
    }

}